.Header {
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    flex: wrap;
    float: auto;
    text-align: center;
    justify-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 30px;
    text-decoration: white;
    background-color: rgb(38, 103, 189);
}